/* Write your CSS code here */
.list-items-container {
  list-style-type: none;
  border-bottom: 2px solid #cbd5e1;
}
.title-description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}
